{% extends "calculator/base.html" %}
{% load code_syntax %}
{% block title %}{{ path|safe }}{% endblock %}
{% block content %}

<!--on the calculator page the navigate has own container-->
<div id="container">
<div class="brick">
{% include "calculator/navigate.html" %}
</div>
</div>

{% if calc_notebook %}
<div class="brick">
<h2>IPython Notebook</h2>
<a href="http://{{ NOTEBOOK_IP }}:{{ NOTEBOOK_PORT }}/tree/calc/{{ NAME }}/calcs/{{ calc_notebook}}?token={{ notebook_token }}" target="_blank"><button type="button">calc/{{ NAME }}/calcs/{{ calc_notebook}}</button></a>
<br>The factory can automatically convert standard plot codes into IPython notebooks for live editing. 
The link above points to a notebook that you already created from <code>calc/{{ NAME }}/calcs/{{ path|safe }}</code>. You can regenerate it again by moving or deleting the current copy and returning here.
</div>
{% endif %}

{% if calc_notebook_make %}
<div class="brick">
<h2>IPython Notebook</h2>
<a href="/calculator/make_notebook/{{ plotname }}">export this code to an IPython notebook</a>
<br>The factory can automatically convert standard plot codes into IPython notebooks for live editing.
</div>
{% endif %}

<div class="brick-left">
<h2>{{ path|safe }}</h2>
{{ raw_code|highlight|safe }}
</div>

{% endblock %}
